.function
  .function__search
    =link_to "users/show",class:"function__search"  do
      図面検索
  .function__registration
    =link_to "products/new",class:"function function__registration" do
      図面の新規登録
