.product__container{
  width:100%;
  font-weight:bold;
  text-align:center;
  .product__title{
    font-size:18px;
    .product__form{
      font-weight:bold;
      display: inline-block;
      
    }
  }
}
