.function{
  text-align:center;
  position:absolute;
  left: 0;
  right:0;
  margin: auto;
  font-size:30px; 
  margin-top:50px; 
  .function__search{
    margin-bottom:10px;
  }
  .function__registration{
    margin-top:10px;
  }

}
